/**********************************
 Practica 0204
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

body 
{
    font-family: verdana, sans-serif; 
    font-size: small;
}

#header 
{ 
    background: #CCC; 
    padding: 15px; 
}

#footer 
{
    padding: 15px; 
    background: #CCC; 
    clear: both;
}

h2, ul, p 
{
    padding: 5px 8px; 
}

li 
{
    list-style: none; 
    margin: 10px 0; 
}

li:first-line, p:first-line
{
    font-weight: 900;
}

#page
{
    width: 975px;
    border: solid 1px; 
}

#links 
{
    background-color: floralwhite;
    float: left;
    width: 250px;
}

#main 
{
    background-color: aqua;
    float:left;
    width: 500px;
}

#biography 
{
    background-color: sienna;
    float:left;
    width: 225px;
}